<h4>
    {{product.name}}
    <span class="badge badge-pill badge-primary float-right">
        {{ product.price | currency:"USD":"symbol":"2.2-2" }}
    </span>
</h4>
<div class="card-text bg-white p-1">
    {{ product.category }}
    <input type="number" [formControl]="quantity">
    <button
        (click)="addProductToCart(product)"
        class="btn btn-success btn-sm float-right">
        Add To Cart
    </button>
</div>
