<div class="container-fluid">
    <div class="row">
        <div class="col bg-dark text-white">
            <a class="navbar-brand">SPORTS STORE</a>
            <cart-summary></cart-summary>
        </div>
    </div>
    <div class="row">


        <div class="col-3 p-2">
            <button (click)="changeCategory(null)" class="btn btn-block btn-outline-primary">
                Home
            </button>
            <button
                (click)="changeCategory(cat)"
                *ngFor="let cat of categories$ | async"
                [class.active]="cat === selectedCategory" class="btn btn-outline-primary btn-block">
                {{ cat.name }}
            </button>
            <button class="btn btn-block btn-danger m-t-3" routerLink="/admin">
                Admin
            </button>
        </div>

        <div class="col-9 p-2">
            <ng-template #productsList>
                <base-product
                    *ngFor="let product of products$ | async"
                    [product]="product"
                    class="card m-1 p-1 bg-light">
                </base-product>
            </ng-template>
            <div *ngIf="isLoading$ | async; else productsList" class="flex items-center justify-center w-full">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
            </div>

            <div class="form-inline float-left mr-1">
                <select
                    (change)="changePageSize($event.target.value)" [value]="productsPerPage"
                    class="form-control">
                    <option value="3">3 per Page</option>
                    <option value="4">4 per Page</option>
                    <option value="6">6 per Page</option>
                    <option value="8">8 per Page</option>
                </select>
            </div>
            <div class="btn-group float-right">
                <button
                    (click)="changePage(page)" *counter="let page of pageCount"
                    [class.active]="page == selectedPage" class="btn btn-outline-primary">
                    {{page}}
                </button>
            </div>
        </div>
    </div>
</div>
