<div class="float-right">
    <small>
        Your cart:
        <span *ngIf="count$ | async as count; else empty">
            {{ count }} item(s)
            {{ total$ | async | currency:"EUR":"symbol":"2.2-2" }}
            <button
                [disabled]="count === 0"
                class="btn btn-sm bg-dark text-white"
                routerLink="/cart">
                <i class="fa fa-shopping-cart"></i>
            </button>
        </span>
        <ng-template #empty>
            <span>(empty)</span>
        </ng-template>
    </small>
</div>
