<section *ngIf="count$ | async; else empty">
    <h3 class="mb-10">Summary</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items$ | async">
                <td>{{item.product.name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.total | currency:"EUR":"symbol":"2.2-2" }}</td>
                <td>
                    <input
                        type="number"
                        [formControl]="quantity"
                        [value]="item.quantity"
                        (blur)="update(item.product.id)">
                    <button (click)="remove(item.productId)" class="btn btn-outline-danger btn-sm" type="button">
                        Remove
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="flex justify-end">
        Total: {{ total$ | async | currency:"EUR":"symbol":"2.2-2" }}
    </div>
    <div class="flex justify-end mt-10">
        <button (click)="checkout()" class="btn btn-outline-info btn-lg">Checkout</button>
    </div>
</section>
<ng-template #empty>
    <div class="alert alert-info">
        You don't have any items in your cart.
    </div>
</ng-template>
